services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build:
      context: .
    volumes:
      - ./env/.env:/.env
      - ./config/config.yaml:./config/config.yaml  
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data: